<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
  <head>
    <title>IOS-XE Configuration Generator</title>
  </head>

  <body>
    <h1>IOS-XE Configuration Generator</h1>
     <form action="/config" method="post">
         <div>
             <label for="name">Hostname:</label>
             <input type="text" name="hostname"></input>
         </div>
         <div>
             <label for="name">DNS Server:</label>
             <input type="text" name="dns_server"></input>
         </div>
         </div>
         <div>
             <label for="name">Domain Name:</label>
             <input type="text" name="domain_name"></input>
         </div>
         <div>
             <label for="name">DHCP Pool Name:</label>
             <input type="text" name="dhcp_pool_name"></input>
         </div>
         <div>
             <label for="name">DHCP Pool Network:</label>
             <input type="text" name="dhcp_pool_net"></input>
         </div>
         <div>
             <label for="name">DHCP Pool Subnet Mask:</label>
             <input type="text" name="dhcp_pool_mask"></input>
         </div>
         <div>
             <label for="name">DHCP Pool Default Router:</label>
             <input type="text" name="dhcp_router"></input>
         </div>
         <div>
             <label for="name">DHCP Pool DNS Server:</label>
             <input type="text" name="dhcp_dns_server"></input>
         </div>
         <div>
             <label for="name">DHCP Excluded Addresses:</label>
             <input type="text" name="dhcp_excluded"></input>
         </div>
         <div>
             <label for="name">Username:</label>
             <input type="text" name="user"></input>
         </div>
         <div>
             <label for="name">Privilege Level:</label>
             <input type="text" name="priv"></input>
         </div>
         <div>
             <label for="name">Secret Password:</label>
             <input type="text" name="password"></input>
         </div>
         <div>
             <label for="name">Loopback 0 IP Address:</label>
             <input type="text" name="loopback0_address"></input>
         </div>
         <div>
             <label for="name">Loopback 0 Subnet Mask:</label>
             <input type="text" name="loopback0_mask"></input>
         </div>
         <div>
             <label for="name">Tunnel 0 Description:</label>
             <input type="text" name="tunnel0_description"></input>
         </div>
         <div>
             <label for="name">Tunnel 0 Destination:</label>
             <input type="text" name="tunnel0_destination"></input>
         </div>
         <div>
             <label for="name">G0/0/0 Description:</label>
             <input type="text" name="g0_description"></input>
         </div>
         <div>
             <label for="name">G0/0/1 Description:</label>
             <input type="text" name="g1_description"></input>
         </div>
         <div>
             <label for="name">G0/0/1 IP Address:</label>
             <input type="text" name="g1_address"></input>
         </div>
         <div>
             <label for="name">G0/0/1 Subnet Mask:</label>
             <input type="text" name="g1_mask"></input>
         </div>
         <div>
             <input type="submit" value="Submit Config"></input>
         </div>
     </form>
  </body>
</html>
